/* This is the CSS file */
.node circle {
    fill: #fff;
}

.node text {
    font: 10px sans-serif;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}

.node {
    cursor: pointer;
}

#two-controllers{
    border: solid 1px;
    margin: 40px;
    width: 100%;
}

#bar-chart-style{
    padding: 40px;
    border: solid 1px;
    margin: 40px;
}

/*.node circle {*/
    /*fill: #fff;*/
    /*stroke: steelblue;*/
    /*stroke-width: 1.5px;*/
/*}*/

/*.node text {*/
    /*font: 10px sans-serif;*/
/*}*/

/*.link {*/
    /*fill: none;*/
    /*stroke: #ccc;*/
    /*stroke-width: 1.5px;*/
/*}*/